body { margin: 40px; font-size: 20px;	font-family: arial; background-color: #131515;}
.header{grid-area: header;}
.home{grid-area: home;}
.courses{grid-area: courses;}
.about{grid-area: about;}
.products{grid-area: products;}
.endorsements{grid-area: endorsements;}
.legal{grid-area: legal;}
.sidebar{grid-area: sidebar; min-width: 185px;}
.content{grid-area: content; min-height: 900px;}
.footer{grid-area: footer; text-align: center; font-size: .7em;}

.box , button, .dropdown-content a{
	background-color: #2B2C28;
	color: #A0A0A0;
	padding: 1em;
	margin: 0;
	border-style: solid;
	border-width: 0.1em;
	border-color: #45503B;
}

.button, .dropdown-content a {
	text-align: center;
	text-decoration: none;
	font-size: 1em;
	cursor: pointer;
}

.button {
	width: 100%;
	height: 4em;
	transition: all 0.4s;
}

.button:hover, .button:focus {
	background-color: #A0A0A0;
	color: #2B2C28;
}

a:link {
    color: #45503B;  
}

a:visited, a:hover, a:active {
    color: #A0A0A0; 
}

.dropdown {
	position: relative;
	display: inline-block;
	height: 4em;
}

.dropdown-content {
	display: none;
	position: absolute;
	width: 100%;
}

.dropdown-content a {
	display: block;
	transition: all .4s;
}

.dropdown-content a:hover {
	background-color: #A0A0A0;
	color: #2B2C28;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.header, .footer {
	color: #A9B18F;
	font-variant: small-caps;
}

.video {
    display: block;
    margin: auto auto;
    width: 50vw;
    height: auto;
}

.centermedia {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img {
    height: 15%;
    width: 15%;
}

.imglrg {
    height: 75%;
    width: 75%;
}

h1 {
    display: inline-block;
}

.paragraph {
    font-size: 1em;
    padding-left: 1em;
    padding-right: 1em;
    text-indent: 40px;
}

.hangingindent {
    padding-left: 22px;
    text-indent: -22px;
}

.center {
    text-align: center;
}

.spacing {
	padding: 0.8em;
}

.current {
    font-weight: bolder;
}

.notcurrent {
    text-decoration: none;
}

.wrapper {
	display: grid;
	grid-gap: .5em;
	grid-template-columns: auto;
	grid-template-areas:
	"header"
	"home"
	"courses"
	"about"
	"products"
	"endorsements"
	"legal"
	"sidebar"
	"content"
	"footer";
}

@media only screen and (max-width: 950px)  {
	.wrapper {
	grid-template-columns: auto auto;
	grid-template-areas:
		"header header"
		"home courses"
		"about products"
		"endorsements legal"
		"sidebar sidebar"
		"content content"
		"footer footer";
	}
    
    .video{
        width: 75vw;
    }
}

@media only screen and (min-width: 950px)   {
	.wrapper {
  	grid-gap: 10px;
		grid-template-columns: 250px auto auto auto;
		grid-template-areas:
		"header header  header header"
		"sidebar home courses  about"
		"sidebar products endorsements legal"
		"sidebar content content content"
		"footer footer footer footer";
    }
}

@media only screen and (min-width: 1100px)   {
	.wrapper {
  	grid-gap: 10px;
		grid-template-columns: 300px auto auto auto auto auto auto;
		grid-template-areas:
		"header header  header  header header header header"
		"sidebar home courses  about products endorsements legal"
		"sidebar content content content content content content"
		"footer  footer  footer footer footer footer footer";
    }
}